* {
    font-family: sans-serif;
    font-weight: lighter;
  }
  
body {
    background-color:white;
}

.center {
    justify-content: center;
}    

/* Overriding bootstrap styles */
.container-fluid{
    padding: 0;
}
.row{
    margin: 0;
}
/* End: Overriding bootstrap styles */

h1 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    color: #a6ea1e;
}

  h2{
      font-size: 1.8rem;
  }

  h3{
      font-size: 1.6rem;
  }

  ul{
    padding: 0 10px;
  }

  .shadow{
    box-shadow: 0px 6px 20px #666;
  }
  
  button[type="submit"]{
    border: solid 2px #a6ea1e;
    background-color: white;
    color: #a6ea1e;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 25px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin-bottom: 1em;
    text-decoration: none;
  }

  button[type="submit"]:hover, button[type="submit"]:focus{
    background: #a6ea1e;
    background-image: -webkit-linear-gradient(top, #a6ea1e, #4a7933);
    background-image: -moz-linear-gradient(top, #a6ea1e, #4a7933);
    background-image: -ms-linear-gradient(top, #a6ea1e, #4a7933);
    background-image: -o-linear-gradient(top, #a6ea1e, #4a7933);
    background-image: linear-gradient(to bottom, #a6ea1e, #4a7933);
    color: #ffffff;
    outline: none;
  }
  
  /* Begin: Styles for the slider/carousel */
  #slider{
    background-color: #a6ea1e; /*bright green */
    height: 385px;
    width: 100%;
    margin: 0 auto 25px;
    padding-top: 50px;
  }
  
  #slider h2 {
      text-align: center;
      font-weight: 200;
      color: white;
      font-size: 1.5em;
      padding-bottom: 1em;
  }
  
  .why{
      font-style: italic;
      font-weight: bold;
  }

  #slider h3{
    text-align: left;
    font-family:sans-serif;
    padding-bottom: .5em;
    font-weight: 200;
    font-size: 1.3em;
  }
  
  .carousel-item{
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   color: #3c4d34;
  }
  
/* END: Styles for the slider/carousel */

/* Begin: Styles for the header/form */
header{
    /* margin: 0 20px; */
    text-align: center;
}

p.purpose {
    font-size: 1.5rem;
    color: #c6c6c6;
}

.nl-field {
    color: #b14943;
}

.search_query{
    height: 40px;
    font-size: 1em;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    margin: 1em auto;
    display: block;
}

/* END: Styles for the header/form */

/* Begin: Styles for the info Page */

.infoPage{
    margin: 0;
    padding-top: 20px;
    background-color: #d6d9d0;
    padding-left: 20px;
    padding-right: 20px;
}
.infoPage h3{
    font-size: 1.3rem;
    text-align: center;
    line-height: 2em;
  }

.facts ul{
    padding: 0;
}

.facts ul li{
    background-color: #FFE104;
    padding: 15px 20px;
    margin-bottom: 1em;
    border-radius: 10px;
    line-height: 1.25em;
}

.facts ul li strong{
    font-weight: bold;
}

.content{
    margin: 0 2% 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
}

.content ul li{
    list-style-type: none;
}

.content ul ul li{
    list-style-type: square;
}

.content ul ul{
    margin-bottom: 1rem;
}

.faq, .facts{
    color: #4a7933;
}

.question{
    font-weight: bold;
}

.humour{
    background-color: #a6ea1e;
    padding: 10px 1em;
    border-radius: 10px;
}

.humour p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #618b0d;
    line-height: 1.25em;
}
.orange{
    color: darkorange;
    font-size: 1.2em;
}

#back{
    display: block;
}


#back, .humour > p{
    text-align: center;
    padding-top: 2em;
}

.carrots{
    width:100px;
}


/* END: Styles for the info Page */

/*BEGIN : Styles for the results section */

.results{
    padding: 0;
    color: white;
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 0;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url("../images/veggie_bg.jpg");
}
.recipeItem, .restaurantItem{
    list-style-type: none;
    margin-bottom: 1em;
    background-color: rgba(0,0,0,.5);
    padding: 20px 0 5px;
    }

.recipeItem:hover, .recipeItem:focus, .restaurantItem:hover, .restaurantItem:focus,
.restaurantItem:active, .recipeItem:active{
    outline: solid 1px #fff;
}

.noResults{
    font-weight: bold;
}

.getDirections{
    padding-left: 1em;
    font-weight: 600;
}

.address{
    padding: 0 20px;
}

.getDirections:hover{
    color:#007bff
}

.results h2{
    text-shadow: 1px 1px 2px black, 9px 7px 1em #4a7933, 0 0 0.2em #4343cc;
    letter-spacing: 3px;
    padding: 15px 0;
}

.results h3{
    font-size: 1rem;
    font-weight: bold;
    padding: 0 20px;
}
.pageCtrl{
    clear: both;
}

.pageCtrl a{
    background-color: #4a7933;
    padding: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 17px #ffffff;
}

.pageCtrl .btn_prev{
    margin-right: 2em;
}

.hideLink{
    display: none;
}

.btn_prev:hover , .btn_next:hover{
    opacity: .5;
}  

.recipeItem img, .restaurantItem img{
    width: 200px;
    height: 200px;
    margin-bottom: 2.5em;
    padding: 10px;
    background-color: white;
}
/************** Media Queries ****************/

@media screen and (min-width:768px){

h1 {
    font-size: 3em;
}

#slider{
    background-color: #a6ea1e;
    height: 350px;
    width: 100%;
    padding: 20px;
    margin: 0 auto 25px;
}

#slider h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.75em;
    padding: 2em 0 1em;
}

#slider h3{
    text-align: left;
    font-family:sans-serif;
    padding-bottom: 1em;
    font-weight: 200;
}

.carousel-item{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: #3c4d34;
}

header{
    margin-bottom: 2.5em;
    text-align: center;
}

.search_query {
    height: 60px;
    width: 75%;
}
.content {
    margin: 0 2% 1em;
    max-width: 46%;
}
.restaurantItem , .recipeItem{
    width: 40%;
    float: left;
    min-height: 450px;
    margin: 0 5% 1em;
}

.orange{
    font-weight: bold;
}
}

@media screen and (min-width:1200px){
    h2{
        font-size: 2em;
    }
    #slider {
        height: 300px;
    }
    .restaurantItem , .recipeItem{
        min-height: 420px;
    }
}