* {
    font-family: sans-serif;
    font-weight: lighter;
  }
  
  body {
      background-color: #d6d9d0;
  }
  
  h1 {
      font-weight: 300;
      font-size: 2rem;
      color: #4a7933;
  }

  h2{
      font-size: 1.8rem;
  }
  h3{
      font-size: 1.6rem;
  }
  
  #slider{
    background-color: #a6ea1e;
    height: 350px;
    width: 100%;
    margin: 0 auto 25px;
    padding-top: 20px;
  }
  
  #slider h2 {
      text-align: center;
      font-weight: 200;
      color: white;
      font-size: 1.5em;
  }
  
  #slider h3{
    text-align: left;
    font-family:sans-serif;
    padding-bottom: .5em;
    font-weight: 200;
    font-size: 1.3em;
  }
  
  .carousel-item{
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   color: #3c4d34;
  }
  
  #form_search label:first-child{
    margin-right: .5em;
}

label[for="cook"]{
    margin-right: 10px;
}

form#form_search{
    margin: 0 auto;
}

.search_query{
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1em;
}

header{
    margin-bottom: 2em;
    text-align: center;
}

.infoPage h3{
    font-size: 1.3rem;
    text-align: center;
  }
  /* Media Queries */

@media screen and (min-width:768px){

h1 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: #4a7933;
}

#slider{
  background-color: #a6ea1e;
  height: 330px;
   width: 100%;
   padding: 20px;
   margin: 0 auto 25px;
}

#slider h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.75em;
    padding-bottom: 1em;
}

#slider h3{
  text-align: left;
  font-family:sans-serif;
  padding-bottom: 1em;
  font-weight: 200;
}

.carousel-item{
 width: 80%;
 margin-left: 10%;
 margin-right: 10%;
 color: #3c4d34;
}

header{
    margin-bottom: 2.5em;
    text-align: center;
}
}